<div class="section--primary">
  <div class="cookies-warn" *ngIf="showCookieWarning">
    <i class="fa fa-times warn-close close-icon" (click)="dismissCookieWarn()"></i>
    <p>Utilizamos cookies para melhorar a experiência de navegação. Saber mais sobre a nossa política de cookies
      <a routerLink="/cookies" class="warn-link">aqui</a>.
      &nbsp;&nbsp;
    </p>
  </div>

  <i *ngIf="showInformationBanner" class="fa fa-times close-icon" (click)="dismissInformationBanner()"></i>
  <div *ngIf="showInformationBanner" class="container">
    <p class="lead">Informa aqui que a tua empresa e/ou negócio continua aberta e como é que podemos usufruir dos
      produtos e serviços neste período excecional.</p>
    <div class="button__wrapper">
      <!-- <a routerLink="/small-medium-companies" class="button button--secondary">Pequenas e médias empresas</a> -->
      <a routerLink="/businesses/locations/new" class="button button--secondary">Grandes empresas e cadeias</a>
    </div>
  </div>
</div>

<div class="map-container">
  <app-catalog-loader name="app-map"></app-catalog-loader>
  <div>
    <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onFormSubmit()">
      <div class="kt-portlet__body">
        <div class="form-group row">
          <div class="col-lg-6 input-ct">
            <app-catalog-form-input [formControlField]="f.search" formControlName="search" [placeholder]="searchPlaceholder" [appendButton]="search" [appendButtonIcon]="'fa fa-search'"></app-catalog-form-input>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="map-container"></div>
</div>