.map-container {
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -25px;
  //   position: relative;
  //   height: 100% !important;
  //   width: 100% !important;
}

#map-container {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  height: 85vh;
  // height: 700px;
  width: 100%;
}
