<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">{{ 'app.brand' | translate }}</a></li>
    <li>/</li>
    <li class="current">
      <span>{{ 'sections.authentication.companies_registration' | translate }}</span>
    </li>
  </ul>
</div>

<div class="kt-portlet container">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">
        {{ 'sections.authentication.signup_title' | translate }}
      </h3>
    </div>
  </div>

  <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onFormSubmit()">
    <div class="kt-portlet__body">

      <div class="form-group row">
        <div class="col-lg-12 text" innerHtml="{{ 'sections.authentication.signup_description' | translate }}"></div>
      </div>

      <div class="row vertical-padding">
        <div class="col-lg-6">
          <label class="kt-option">
            <span class="kt-option__control">
              <span class="kt-radio">
                <input formControlName="companyType" type="radio" value="small">
                <span></span>
              </span>
            </span>
            <span class="kt-option__label">
              <span class="kt-option__head">
                <span class="kt-option__title">
                  {{ 'sections.authentication.small_companies_title' | translate }}
                </span>
              </span>
              <span class="kt-option__body">
                <b>{{ 'sections.authentication.small_companies_description' | translate }}</b>
              </span>
            </span>
          </label>
        </div>
        <div class="col-lg-6">
          <label class="kt-option">
            <span class="kt-option__control">
              <span class="kt-radio">
                <input formControlName="companyType" type="radio" value="big">
                <span></span>
              </span>
            </span>
            <span class="kt-option__label">
              <span class="kt-option__head">
                <span class="kt-option__title">{{ 'sections.authentication.big_companies_title' | translate }}</span>
              </span>
              <span class="kt-option__body">
                <b>{{ 'sections.authentication.big_companies_description' | translate }}</b>
              </span>
            </span>
          </label>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <app-catalog-form-input [formControlField]="f.company" formControlName="company" label="{{ 'labels.company_name' | translate }}"
            [required]="true"></app-catalog-form-input>
        </div>
        <div class="col-lg-6">
          <app-catalog-form-input [formControlField]="f.email" formControlName="email" label="{{ 'dictionary.email' | translate }}"
            [required]="true"></app-catalog-form-input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <app-catalog-form-input [formControlField]="f.name" formControlName="name" label="{{ 'dictionary.name' | translate }}"
          [required]="true"></app-catalog-form-input>
        </div>
        <div class="col-lg-6">
          <app-catalog-form-input [formControlField]="f.phone" formControlName="phone" label="{{ 'dictionary.phone' | translate }}" placeholder="{{ 'sections.authentication.phone_placeholder' | translate }}"
            [required]="true" pattern="{{ 'sections.authentication.phone_validation' | translate }}"></app-catalog-form-input>
        </div>
      </div>

    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-12 kt-align-right">
            <button type="submit" class="btn btn-primary ml-2">
              <i class="fa fa-check"></i> &nbsp; {{ 'dictionary.submit' | translate | titlecase }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
