#kt_footer {
  background-color: #43348b;
  color: #fff;
  padding: 2rem;
  position: relative;
}

.footer a {
  color: #FFFFFF;
}

.footer ul.footer__list-icons {
  margin: 0;
  padding: 0;
  padding-top: 24px;
}

.footer ul.footer__list-icons li {
  display: inline;
  margin-right: 22px;
}

.footer .cc-img, .footer dl, .footer h3 {
  margin-bottom: 2rem;
}

.footer .h3, .footer h3 {
  font-size: 1.575rem;
}

.footer h3 {
  text-transform: uppercase;
}

.footer-block {
  padding-top: 22px;
}

.footer-block.left-block {  
  padding-left: 28%;
}

.footer-block.right-block {  
  padding-left: 64px;
}

@media (max-width: 991.98px) { 
  .footer-block.left-block {  
    padding-left: 0;
  }

  .footer-block.right-block {  
    padding-left: 0px;
  }
}