<div class="sharing-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 brand">
        <h3 class="brand">#OPEN4BUSINESSPT</h3>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-7 text">
        Partilhe esta hashtag e este site com os negócios locais para que possam incluir a sua actividade,
        disponibilidade e modo de funcionamento nesta altura excepcional.
      </div>
    </div>
  </div>
</div>


<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop footer" id="kt_footer">
  <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-12 footer-block left-block">
          <a href="https://info.vost.pt" target="_blank">
            <img class="icon logo" src="/assets/images/logos/vost.svg">
          </a>
          <ul class="footer__list-icons">
            <li>
              <a href="https://info.vost.pt" target="_blank">
                <img class="icon logo" src="/assets/images/icons/website.svg">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/vostpt" target="_blank">
                <img class="icon logo" src="/assets/images/icons/twitter.svg">
              </a>
            </li>
            <br>
            <br>
            <li>
              <a href="https://www.facebook.com/Vostpt/" target="_blank">
                <img class="icon logo" src="/assets/images/icons/facebook.svg">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/vostpt/" target="_blank">
                <img class="icon logo" src="/assets/images/icons/instagram.svg">
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/vostpt/" target="_blank">
                <img class="icon logo" src="/assets/images/icons/linkedIn.svg">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-12 footer-block right-block">
          <h3>Ligações úteis</h3>
          <dl class="footer__list">
            <dt>
              <a href="http://covid19estamoson.gov.pt" target="_blank">
                covid19estamoson.gov.pt
              </a>
            </dt>
            <dd>
              <a href="http://covid19estamoson.gov.pt" target="_blank">
                Canal do Governo de Portugal para partilha das Medidas Excecionais relativas à <abbr
                  title="Coronavirus disease 2019">COVID-19</abbr>
              </a>
            </dd>
          </dl>
          <dl class="footer__list">
            <dt><a href="https://covid19pt.vost.pt" target="_blank">VOSTPT COVID19</a></dt>
            <dd>
              <a href="https://covid19pt.vost.pt" target="_blank">
                Hub de informação sobre a atuação da VOST Portugal durante a pandemia de COVID-19.
              </a>
            </dd>
          </dl>
        </div>
        <div class="col text-center footer-block">
          <div class="cc-img">
            <img src="/assets/images/icons/cc.svg">
          </div>
          <small>
            <span>#open4business — <time datetime="2020">2020</time>
            &nbsp;<abbr title="Associação de Voluntários Digitais em Situações de Emergências para Portugal">VOSTPT</abbr>
            </span>
            – Associação de Voluntários Digitais em Situações de Emergências para Portugal. <br>
            Este site e os seus conteúdos encontram-se sob uma licença  <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">Creative Commons CC-BY-SA 4.0 -
            Attribution-ShareAlike 4.0 International</a>
          </small>
          <br>
          <small>
            <a routerLink="/cookies">
              Política de Privacidade
            </a>
            e
            <a routerLink="/cookies">
              Política de Cookies
            </a>
          </small>
        </div>
      </div>
    </div>

  </div>
</div>
