<div class="sharing-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 brand">
        <h3 class="brand">{{ 'app.hashtag' | translate }}</h3>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-7 text">{{ 'sections.footer.share_this_hashtag' | translate }}</div>
    </div>
  </div>
</div>

<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop footer" id="kt_footer">
  <div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-12 footer-block left-block">
          <a href="https://info.vost.pt" target="_blank">
            <img class="icon logo" src="/assets/images/logos/vost.svg">
          </a>
          <ul class="footer__list-icons">
            <li>
              <a href="https://info.vost.pt" target="_blank">
                <img class="icon logo" src="/assets/images/icons/website.svg">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/vostpt" target="_blank">
                <img class="icon logo" src="/assets/images/icons/twitter.svg">
              </a>
            </li>
            <br>
            <br>
            <li>
              <a href="https://www.facebook.com/Vostpt/" target="_blank">
                <img class="icon logo" src="/assets/images/icons/facebook.svg">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/vostpt/" target="_blank">
                <img class="icon logo" src="/assets/images/icons/instagram.svg">
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/vostpt/" target="_blank">
                <img class="icon logo" src="/assets/images/icons/linkedIn.svg">
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-12 footer-block right-block">
          <h3>{{ 'sections.footer.usefull_links' | translate }}</h3>
          <dl class="footer__list">
            <dt><a href="{{ 'sections.footer.government_url' | translate }}" target="_blank">{{ 'sections.footer.government_title' | translate }}</a></dt>
            <dd><a href="{{ 'sections.footer.government_url' | translate }}" target="_blank" innerHtml="{{ 'sections.footer.government_description' | translate }}"></a></dd>
          </dl>
          <dl class="footer__list">
            <dt><a href="{{ 'sections.footer.vost_url' | translate }}" target="_blank">{{ 'sections.footer.vost_title' | translate }}</a></dt>
            <dd><a href="{{ 'sections.footer.vost_url' | translate }}" target="_blank" innerHtml="{{ 'sections.footer.vost_description' | translate }}"></a></dd>
          </dl>
        </div>
        <div class="col text-center footer-block">
          <div class="cc-img">
            <img src="/assets/images/icons/cc.svg">
          </div>
          <small innerHtml="{{ 'sections.footer.disclaimer' | translate }}"></small>
          <br />
          <small>
            <a routerLink="/cookies">{{ 'sections.footer.privacy_policy' | translate }}</a>
            /
            <a routerLink="/cookies">{{ 'sections.footer.cookies_policy' | translate }}</a>
          </small>
        </div>
      </div>
    </div>

  </div>
</div>
