<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li><a routerLink="/businesses/locations">{{ 'app.menus.my_locations' | translate }}</a></li>
    <li>/</li>
    <li class="current">
      <span>{{ 'actions.import_locations' | translate }}</span>
    </li>
  </ul>
</div>

<div class="kt-portlet container">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">{{ 'actions.import_locations' | translate }}</h3>
    </div>
  </div>

  <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onFormSubmit()">
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-lg-12 text" [innerHtml]="'sections.businesses.locations.import.info' | translate"></div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-lg-12 kt-align-center">
          <a href="{{quickGuideLink}}">
            <button type="button" class="btn btn-outline-primary ml-2">{{'app.menus.quick_guide' | translate }}</button>
          </a>

          <a href="https://docs.google.com/spreadsheets/d/1eRT0RfCV6rbwtlYmMIX6c6OKdi2EkbF5KbnqifPB1rI/edit#gid=606616492"
            target="_blank">
            <button type="button" class="btn btn-primary ml-2">{{'actions.download_csv_example' | translate}}</button>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 kt-align-center">
          <hr />
        </div>
      </div>

      <br />
      <br />

      <div class="form-group row">
        <div class="col-lg-12">
          <label>{{'labels.csv_file' | translate}}</label>
          <dropzone #dataUpload [config]="dataUploadConfiguration" (success)="onUploadSuccess('dataFile', $event)"
            (error)="onUploadError($event)" (removedFile)="onFileRemoved($event)"></dropzone>
          <div class="preview-container uploaded-files">
            <div id="dataUploadPreview"></div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-4">
          <app-catalog-form-input [formControlField]="f.name" formControlName="name" [label]="'labels.name' | translate"
            [required]="true">
          </app-catalog-form-input>
        </div>
        <div class="col-lg-4">
          <app-catalog-form-input [formControlField]="f.email" formControlName="email"
            [label]="'labels.email' | translate" [required]="true">
          </app-catalog-form-input>
        </div>
        <div class="col-lg-4">
          <app-catalog-form-input [formControlField]="f.phone" formControlName="phone"
            [label]="'labels.phone' | translate" [required]="false">
          </app-catalog-form-input>
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-12 kt-align-right">
            <button type="submit" class="btn btn-primary ml-2">
              <i class="fa fa-check"></i> &nbsp;
              {{ 'dictionary.submit' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>