<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div *ngIf="contentReady" class="container">

  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li class="current">
      <span>As Minhas Lojas</span>
    </li>
  </ul>

  <div class="row filters-section">
    <div class="col-lg-12 text">
      Apoiemos os negócios locais e a economia do país.<br />
      Podemos querer parar o virus, não podemos parar o país.
    </div>
  </div>

  <div>
    <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onSearch()">
      <div class="kt-portlet__body">
        <div class="form-group row">
          <div class="col-lg-6 input-ct">
            <app-catalog-form-input [formControlField]="f.search" formControlName="search" [placeholder]="searchPlaceholder" [appendButton]="true" [appendButtonIcon]="'fa fa-search'"></app-catalog-form-input>
          </div>
          <div class="col input-ct">
            <button class="btn btn-outline-secondary" (click)="addStore()"><i class="fa fa-plus"></i>Adicionar Empresa</button>
            &nbsp;
            <button class="btn btn-outline-secondary" routerLink="/businesses/locations/new"><i class="fa fa-upload"></i>Importar Empresas</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="kt-portlet" *ngFor="let location of datasets.locations">
    <div class="kt-portlet__body">
      <div class="row custom-card" *ngIf="!location.editing">
        <div class="col-lg-3">
          <h4>{{location.store}}</h4>
          <p class="small">{{location.sector}},&nbsp;{{location.parish}}</p>
          <p>Telf.: {{location.phone}}</p>
          <p>{{location.address}}</p>
          <p>{{location.zipCode}} {{location.parish}}</p>
        </div>
        <div class="col-lg-3">
          <h5>Horário de Funcionamento</h5>
          <div class="row" *ngFor="let number of [1,2,3]">
            <div class="col-5"><p>{{ location['schedule' + number + 'DowFormatted'] }}</p></div>
            <div class="col-7"><p>{{ location['schedule' + number + 'Formatted'] }}</p></div>
          </div>
        </div>
        <div class="col-lg-3">
          <h5>Entregas</h5>
          <p>{{location.typeOfService}}</p>
        </div>
        <div class="col-lg-3">
          <h5>Observações</h5>
          <p>{{location.obs}}</p>
        </div>
      </div>
      <div class="row custom-card" *ngIf="location.editing">
        <div class="row"></div>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-secondary" (click)="discardStoreChanges(location)">Cancel</button>
            &nbsp;
            <button class="btn btn-primary" (click)="saveStoreChanges(location)">Save</button>
          </div>
        </div>
      </div>
      <div class="row justify-content-between go-to-map">
        <div class="col">
          <a href="javascript:void(0);" (click)="editStore(location)" ><i class="fa fa-edit"></i>&nbsp;Editar</a>
          &nbsp;&nbsp;
          <a target="_blank" [routerLink]="['/']" [queryParams]="{ search: location.store}"><i class="fa fa-map"></i>&nbsp;Ver no Mapa</a>
        </div>
        <div class="col audit">
          <span title="{{location.audit.personEmail}}">{{location.audit.personName}}<span class="font-italic">&nbsp;{{location.audit.updatedAt*1000 | amDateFormat: 'YYYY-MM-DD HH:mm:ss' }}</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
