<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li class="current">
      <span>Submissão para grandes empresas</span>
    </li>
  </ul>
</div>

<div class="kt-portlet container">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">
        Submissão para grandes empresas
      </h3>
    </div>
  </div>

  <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onFormSubmit()">
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-lg-12 text">
          Nesta área pode fazer o upload em bulk dos dados da sua empresa. Se ainda não o fez, aconselhamos a que
          primeiro <a href="https://docs.google.com/document/d/1avWACz4iDCzyyuEmcp8bMLAmPO69f5S5iFIdyCou28c/edit" target="_blank">leia as instruções de preenchimento</a> e exportação dos dados no formato correto, e aceite por esta
          plataforma. O ficheiro template pode ser encontrado <a href="https://docs.google.com/spreadsheets/d/1eRT0RfCV6rbwtlYmMIX6c6OKdi2EkbF5KbnqifPB1rI/edit#gid=606616492" target="_blank">aqui</a>.
          Se porventura o ficheiro não for aceite pelo sistema, verifique de novo a sua estrutura e os dados. Se o erro persistir, por favor contacte-nos via <a href="mailto:o4b@vost.pt" target="_blank">o4b@vost.pt</a>.
        </div>
      </div>

      <br />
      <br />

      <div class="row">
        <div class="col-lg-12 kt-align-center">
          <button type="submit" class="btn btn-primary ml-2" (click)="downloadTemplate()">
            Descarregar exemplo de CSV
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 kt-align-center">
          <hr />
        </div>
      </div>

      <br />
      <br />

      <div class="form-group row">
        <div class="col-lg-12">
          <label>Ficheiro CSV</label>
          <dropzone #dataUpload [config]="dataUploadConfiguration" (success)="onUploadSuccess('dataFile', $event)"
            (error)="onUploadError($event)" (removedFile)="onFileRemoved($event)"></dropzone>
          <div class="preview-container uploaded-files">
            <div id="dataUploadPreview"></div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-4">
          <app-catalog-form-input [formControlField]="f.name" formControlName="name" label="Nome" [required]="true">
          </app-catalog-form-input>
        </div>
        <div class="col-lg-4">
          <app-catalog-form-input [formControlField]="f.email" formControlName="email" label="E-mail" [required]="true">
          </app-catalog-form-input>
        </div>
        <div class="col-lg-4">
          <app-catalog-form-input [formControlField]="f.phone" formControlName="phone" label="Telefone"
            [required]="false"></app-catalog-form-input>
        </div>
      </div>
    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-12 kt-align-right">
            <button type="submit" class="btn btn-primary ml-2">
              <i class="fa fa-check"></i> &nbsp;
              {{ 'dictionary.submit' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
