<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div *ngIf="contentReady" class="container">

  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li><a routerLink="/businesses/locations">As Minhas Lojas</a></li>
    <li>/</li>
    <li class="current"><span>Submissões</span></li>
  </ul>

  <div class="row">
    <div class="col">
      <p class="counter"><strong>{{datasets.batches.length}}</strong> Submissões {{statusListDesc[status]}}</p>
    </div>

    <div class="col-lg-3">
      <form [formGroup]="form" class="">
        <app-catalog-form-select [formControlField]="f.status" formControlName="status" [required]="false" placeholder="Filtar por Estado" clearable="true"
        bindLabel="desc" bindValue="id" [items]="statusList"></app-catalog-form-select>
      </form>
    </div>
  </div>

  <div class="separator"></div>

  <div class="kt-portlet" *ngFor="let batch of datasets.batches">
    <div _ngcontent-cqf-c174="" class="kt-portlet__head">
      <div _ngcontent-cqf-c174="" class="kt-portlet__head-label">
        <h3 _ngcontent-cqf-c174="" class="kt-portlet__head-title title">
          {{batch.updatedAt*1000 | amDateFormat: 'YYYY-MM-DD HH:mm:ss' }}<br /><span
            class="second-line">{{batch.batchId}}</span></h3>
      </div>
      <div _ngcontent-cqf-c174="" class="kt-portlet__head-label">
        <h3 _ngcontent-cqf-c174="" class="kt-portlet__head-title title-date">
          <span class="font-weight-bold"
            [ngClass]="{'text-success': batch.status == 'APPROVED', 'text-danger': batch.status == 'REJECTED', 'text-warning': batch.status == 'WAITING_FOR_APPROVAL'}">{{batch.status}}</span>
        </h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-lg-4">
          <dt>Status</dt>
          <dd>{{batch.status}}</dd>
        </div>

        <div class="col-lg-4">
          <dt>Nome</dt>
          <dd>{{batch.personName}}</dd>
        </div>

        <div class="col-lg-4">
          <dt>Email</dt>
          <dd>{{batch.personEmail}}</dd>
        </div>

        <div class="col-lg-4">
          <dt>Telefone</dt>
          <dd>{{batch.personPhone}}</dd>
        </div>

        <div class="col-lg-4">
          <dt>Atualizado em</dt>
          <dd>{{batch.updatedAt*1000 | amDateFormat: 'YYYY-MM-DD HH:mm:ss' }}</dd>
        </div>

        <div class="col-lg-4">
          <dt>Total de Lojas</dt>
          <dd>{{batch.stats.total}}</dd>
        </div>

        <div class="col-lg-4">
          <dt>Lojas Adicionadas</dt>
          <dd>{{batch.stats.added}}</dd>
        </div>
        
        <div class="col-lg-4">
          <dt>Lojas Atualizadas</dt>
          <dd>{{batch.stats.updated}}</dd>
        </div>

        <div class="col-lg-4">
          <dt>Lojas Ignoradas</dt>
          <dd>{{batch.stats.ignored}}</dd>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <button [routerLink]="['/businesses/locations/review']" [queryParams]="{batchId: batch.batchId}" class="btn btn-primary">Rever</button>
          <button [routerLink]="['/businesses/locations/review']" [queryParams]="{batchId: batch.batchId}" class="btn btn-primary">Rever</button>
        </div>
      </div>
    </div>
  </div>
</div>