<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div *ngIf="contentReady" class="container">

  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li class="current">
      <span>As Minhas Lojas</span>
    </li>
  </ul>

  <div class="row filters-section">
    <div class="col-lg-12 text">
      Apoiemos os negócios locais e a economia do país.<br />
      Podemos querer parar o virus, não podemos parar o país.
    </div>
  </div>

  <div>
    <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onSearch()">
      <div class="kt-portlet__body">
        <div class="form-group row">
          <div class="col-lg-6 input-ct">
            <app-catalog-form-input [formControlField]="f.search" formControlName="search"
              [placeholder]="searchPlaceholder" [appendButton]="true" [appendButtonIcon]="'fa fa-search'">
            </app-catalog-form-input>
          </div>
          <div class="col input-ct">
            <button class="btn btn-outline-secondary" (click)="editStore(null)"><i class="fa fa-plus"></i>Adicionar
              Loja</button>
            &nbsp;
            <button class="btn btn-outline-secondary" routerLink="/businesses/locations/new"><i
                class="fa fa-upload"></i>Importar Lojas</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="kt-portlet" *ngIf="editing">
    <form [formGroup]="editForm" class="kt-form kt-form--label-right" (ngSubmit)="saveStoreChanges()">
      <div class="kt-portlet__body">
        <div class="form-group row">
          <div class="col-lg-3 input-ct">
            <app-catalog-form-input id="edit-company" [formControlField]="ef.company" formControlName="company"
              type="text" label="Empresa" [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.store" formControlName="store" type="text" label="Loja"
              [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.address" formControlName="address" type="text" label="Morada"
              [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.fregesia" formControlName="fregesia" type="text"
              label="Freguesia" [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.concelho" formControlName="concelho" type="text"
              label="Concelho" [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.district" formControlName="district" type="text"
              label="Distrito" [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.zipCode" formControlName="zipCode" type="text"
              label="Código Postal" [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.phone" formControlName="phone" type="text" label="Telefone"
              [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.latitude" formControlName="latitude" type="text"
              label="Latitude" [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.longitude" formControlName="longitude" type="text"
              label="Longitude" [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.sector" formControlName="sector" type="text" label="Sector"
              [required]="true"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.byAppointment" formControlName="byAppointment"
              label="Por Marcação" [required]="true" bindLabel="name" bindValue="id"
              [items]="[{id:'Sim', name:'Sim'}, {id:'Não', name:'Não'}]"></app-catalog-form-select>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.contactForSchedule" formControlName="contactForSchedule"
              type="text" label="Contato para Agendamento"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.typeOfService" formControlName="typeOfService"
              label="Tipo de Serviço" [required]="false" bindLabel="name" bindValue="id"
              [items]="[{id:'take-away', name:'take-away'}, {id:'entregas', name:'entregas'}]">
            </app-catalog-form-select>
          </div>

          <!-- Schedule 1 -->
          <div class="col-lg-12 input-ct separator">
            <h5>Horário 1</h5>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.schedule1" formControlName="schedule1" [required]="true"
              type="text" label="Horário 1"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.schedule1Dow" formControlName="schedule1Dow" [required]="true"
              type="text" label="Dias da Semana"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.schedule1Type" formControlName="schedule1Type"
              label="Tipo de Horário" [required]="true" bindLabel="name" bindValue="id"
              [items]="[{id:'Forças de Segurança / Protecção Civil', name:'Forças de Segurança / Protecção Civil'}, {id:'Idosos', name:'Idosos'}, {id:'Público em Geral', name:'Público em Geral'}]">
            </app-catalog-form-select>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.schedule1Period" formControlName="schedule1Period"
              label="Periodo Horário" [required]="true" bindLabel="name" bindValue="id"
              [items]="[{id:'manhã', name:'manhã'}, {id:'tarde', name:'tarde'}, {id:'dia completo', name:'dia completo'}]">
            </app-catalog-form-select>
          </div>

          <!-- Schedule 2 -->
          <div class="col-lg-12 input-ct separator">
            <h5>Horário 2</h5>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.schedule2" formControlName="schedule2"
              type="text" label="Horário 2"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.schedule2Dow" formControlName="schedule2Dow"
              type="text" label="Dias da Semana"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.schedule2Type" formControlName="schedule2Type"
              label="Tipo de Horário" [required]="true" bindLabel="name" bindValue="id"
              [items]="[{id:'Forças de Segurança / Protecção Civil', name:'Forças de Segurança / Protecção Civil'}, {id:'Idosos', name:'Idosos'}, {id:'Público em Geral', name:'Público em Geral'}]">
            </app-catalog-form-select>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.schedule2Period" formControlName="schedule2Period"
              label="Periodo Horário" [required]="true" bindLabel="name" bindValue="id"
              [items]="[{id:'manhã', name:'manhã'}, {id:'tarde', name:'tarde'}, {id:'dia completo', name:'dia completo'}]">
            </app-catalog-form-select>
          </div>
          
          <!-- Schedule 3 -->
          <div class="col-lg-12 input-ct separator">
            <h5>Horário 3</h5>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.schedule3" formControlName="schedule3"
              type="text" label="Horário 3"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-input [formControlField]="ef.schedule3Dow" formControlName="schedule3Dow"
              type="text" label="Dias da Semana"></app-catalog-form-input>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.schedule3Type" formControlName="schedule3Type"
              label="Tipo de Horário" [required]="true" bindLabel="name" bindValue="id"
              [items]="[{id:'Forças de Segurança / Protecção Civil', name:'Forças de Segurança / Protecção Civil'}, {id:'Idosos', name:'Idosos'}, {id:'Público em Geral', name:'Público em Geral'}]">
            </app-catalog-form-select>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-select [formControlField]="ef.schedule3Period" formControlName="schedule3Period"
              label="Periodo Horário" [required]="true" bindLabel="name" bindValue="id"
              [items]="[{id:'manhã', name:'manhã'}, {id:'tarde', name:'tarde'}, {id:'dia completo', name:'dia completo'}]">
            </app-catalog-form-select>
          </div>
          
          <div class="col-lg-12 input-ct separator">
            <app-catalog-form-textarea [formControlField]="ef.obs" formControlName="obs" type="text"
              label="Informação Adicional"></app-catalog-form-textarea>
          </div>

          <div class="col-lg-3 input-ct">
            <app-catalog-form-checkbox [formControlField]="ef.isOpen" formControlName="isOpen" label="Aberto"></app-catalog-form-checkbox>
          </div>

          <div class="col-lg-12 input-ct separator">
            <button class="btn btn-outline-secondary" type="button"  (click)="discardStoreChanges()">Cancel</button>
            &nbsp;
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-auto mr-auto"><p class="counter"><strong>{{total}}</strong> Lojas</p></div>

    <div class="col-auto">
      <nav aria-label="Pagination" class="">
        <ul class="pagination">
          <li class="page-item" (click)="goto(page-1)">
            <a class="page-link disabled" href="javascript:void(0)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="javascript:void(0)">{{page}}&nbsp;/&nbsp;{{pages}}</a></li>
          <li class="page-item" (click)="goto(page+1)">
            <a class="page-link" href="javascript:void(0)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="kt-portlet" *ngFor="let location of datasets.locations">
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col">
          <p>ID <span class="font-italic">{{location.locationId}}</span></p>
        </div>
        <div class="col text-right" >
          <p *ngIf="!location.isActive"><span class="text-warning font-weight-bold">&nbsp;PENDENTE</span></p>
          <p *ngIf="location.isActive && location.isOpen"><span class="text-success font-weight-bold">&nbsp;ABERTO</span></p>
          <p *ngIf="location.isActive && !location.isOpen"><span class="text-danger font-weight-bold">&nbsp;FECHADO</span></p>
        </div>
        
      </div>

      <div class="row custom-card">
        <div class="col-lg-3">
          <h4>{{location.store}}</h4>
          <p class="small">{{location.sector}},&nbsp;{{location.parish}}</p>
          <p>Telf.: {{location.phone}}</p>
          <p>{{location.address}}</p>
          <p>{{location.zipCode}} {{location.parish}}</p>
        </div>
        <div class="col-lg-3">
          <h5>Horário de Funcionamento</h5>
          <div class="row" *ngFor="let number of [1,2,3]">
            <div class="col-5">
              <p>{{ location['schedule' + number + 'DowFormatted'] }}</p>
            </div>
            <div class="col-7">
              <p>{{ location['schedule' + number + 'Formatted'] }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <h5>Entregas</h5>
          <p>{{location.typeOfService}}</p>
        </div>
        <div class="col-lg-3">
          <h5>Observações</h5>
          <p>{{location.obs}}</p>
        </div>
      </div>
      <div class="row justify-content-between go-to-map">
        <div class="col">
          <a href="javascript:void(0);" (click)="editStore(location)"><i class="fa fa-edit"></i>&nbsp;Editar</a>
          &nbsp;&nbsp;
          <a target="_blank" [routerLink]="['/']" [queryParams]="{ search: location.store}"><i
              class="fa fa-map"></i>&nbsp;Ver no Mapa</a>
          &nbsp;&nbsp;
          <a href="javascript:void(0);" class="text-danger" (click)="deleteStore(location)"><i
              class="fa fa-trash"></i>&nbsp;Apagar</a>
        </div>
        <div class="col audit">
          <span title="{{location.audit.personEmail}}">{{location.audit.personName}}<span
              class="font-italic">&nbsp;{{location.audit.updatedAt*1000 | amDateFormat: 'YYYY-MM-DD HH:mm:ss' }}</span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="total > 10">
    <div class="col-auto mr-auto"><p class="counter"><strong>{{total}}</strong> Lojas</p></div>

    <div class="col-auto">
      <nav aria-label="Pagination" class="">
        <ul class="pagination">
          <li class="page-item" (click)="goto(page-1)">
            <a class="page-link disabled" href="javascript:void(0)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="javascript:void(0)">{{page}}&nbsp;/&nbsp;{{pages}}</a></li>
          <li class="page-item" (click)="goto(page+1)">
            <a class="page-link" href="javascript:void(0)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>