<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="banner-section" *ngIf="showInformationBanner">
  <i class="fa fa-times close-icon" (click)="dismissInformationBanner()"></i>
  <div class="container">
    <p class="title">A tua contribuição foi enviada com sucesso.</p>
    Será devidamente validada antes de ficar online. Agradecemos o teu contributo neste periodo excepcional.
  </div>
</div>

<div class="content-section">
  <div class="container center-block">
    <a href="/"><img class="logo" src="assets/images/logos/o4b.png"></a>
    <h3 class="brand">#OPEN4BUSINESS</h3>
  </div>
</div>