<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li><a routerLink="/businesses/locations">{{ 'app.menus.my_locations' | translate }}</a></li>
    <li>/</li>
    <li class="current">
      <span>{{ 'actions.import_locations' | translate }}</span>
    </li>
  </ul>
</div>

<div class="container">
  <div class="banner-section" *ngIf="showInformationBanner"
    [ngClass]="{'bg-success': importResult.success, 'bg-warning': !importResult.success}">
    <i class="fa fa-times close-icon" (click)="dismissInformationBanner()"></i>
    <div class="container" [ngClass]="{'text-dark': !importResult.success}">
      <p *ngIf="importResult.success" class="title">{{'sections.businesses.locations.import.success' | translate}}</p>
      <p *ngIf="!importResult.success" class="title">{{'sections.businesses.locations.import.warning' | translate}}</p>
      <p>{{'sections.businesses.locations.import.validation_info' | translate}}</p>
    </div>
  </div>

</div>

<div class="container errors">
  <div class="kt-portlet">
    <div class="kt-portlet__body">
      <h4 class="text-capitalize">{{'dictionary.result' | translate}}</h4>
      <ul>
        <li>
          <span>{{'labels.total' | translate}}: {{importResult.totalRows}}</span>
        </li>
        <li>
          <span>{{'labels.added' | translate}}: {{importResult.addCount}}</span>
        </li>
        <li>
          <span>{{'labels.updated' | translate}}: {{importResult.updateCount}}</span>
        </li>
        <li>
          <span>{{'labels.ignored' | translate}}: {{importResult.errorCount}}</span>
        </li>
      </ul>

      <br />
      
      <a class="" routerLink="/businesses/locations">
        <button class="btn btn-primary">{{'actions.goto_locations_list' | translate}}</button>
      </a>
    </div>
  </div>

  <div class="kt-portlet" *ngFor="let error of importResult.errors">
    <div class="kt-portlet__body">
      <h4>{{ 'sections.businesses.locations.import.error_counter' | translate: {row: error.row} }}</h4>
      <ul>
        <li *ngFor="let detail of error.list">
          <span>{{detail}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<br />