<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li class="current">
      <span>Submissão para pequenas e médias empresas</span>
    </li>
  </ul>
</div>

<div class="kt-portlet container">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">
        Submissão para pequenas e médias empresas
      </h3>
    </div>
  </div>

  <form [formGroup]="form" class="kt-form kt-form--label-right">
    <div class="kt-portlet__body">

      <div class="form-group row">
        <div class="col-lg-12 text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a laoreet erat. Sed sagittis viverra
          dignissim. Curabitur fermentum felis quis urna pretium tincidunt. Class aptent taciti sociosqu ad litora
          torquent per conubia nostra, per inceptos himenaeos. Nullam arcu elit, consectetur non sodales quis, vulputate
          eget mauris. Quisque volutpat, purus vitae ultrices fringilla, erat massa condimentum tortor, eget ultrices
          odio nulla at sem. Suspendisse tristique auctor mauris id rhoncus. Aliquam sit amet tellus pulvinar, consequat
          leo in, molestie tortor. Phasellus rutrum est sed tempor semper.
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-12 text">
          TODO
        </div>
      </div>

    </div>
  </form>

</div>
