:host {
	::ng-deep {
		// override default version style
		.kt-header__topbar {
			> :last-child:not([role="tooltip"]) {
				.kt-header__topbar-item {
					margin-right: 0 !important;
				}
			}
			.kt-header__topbar-item {
				margin-right: 0.36rem !important;
			}
		}
	}
}

.kt-header__topbar-wrapper {
  min-width: 200px;
  font-size: large;
  font-weight: 500;
  color: var(--base-color-02);
  padding: 12px 0;

  @media (min-width: 1025px) {
    padding: 28px 0;

  }
}
