<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li class="current">
      <span>Login</span>
    </li>
  </ul>
</div>

<div class="kt-portlet container">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">
        Efectue o login
      </h3>
    </div>
  </div>

  <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onFormSubmit()">
    <div class="kt-portlet__body">

      <div class="form-group row">
        <div class="col-lg-6">
          <app-catalog-form-input [formControlField]="f.authId" formControlName="authId" label="E-Mail" [required]="true"></app-catalog-form-input>
        </div>
        <div class="col-lg-6">
          <app-catalog-form-input [formControlField]="f.password" formControlName="password" type="password" label="Password" [required]="true"></app-catalog-form-input>
        </div>
      </div>

    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-8">
            <a routerLink="/auth/signup">Ainda não se registou? Faça-o aqui.</a>
          </div>
          <div class="col-lg-4 kt-align-right">
            <button type="submit" class="btn btn-primary ml-2">
              <i class="fa fa-check"></i> &nbsp; Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
