<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div>
  <ul class="breadcrumbs">
    <li>
      <a routerLink="/">OPEN4BUSINESS</a>
    </li>

    <li>/</li>

    <li class="current">
      <span>Política de Privacidade e Cookies</span>
    </li>
  </ul>
</div>

<div class="main-title">
  <h4>Política de Privacidade e Cookies</h4>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">A. Introdução</h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        <ol>
          <li>A privacidade dos visitantes do nosso site é muito importante para nós, e estamos comprometidos em
            protegê-la. Esta política explica o que faremos com as suas informações pessoais.</li>
          <li>Consentir, com o uso de cookies de acordo com os termos desta política, quando acedes ao nosso site pela
            primeira vez permite-nos usar cookies sempre que acedes ao nosso site.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">B. TL;DR</h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        A VOST Portugal - Associação de Voluntários Digitais em Situações de Emergência, nunca partilhará os teus dados
        com terceiros e restringe ao máximo a informação que recolhe quando navega em qualquer um dos nossos sites.
      </div>
    </div>
  </div>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">
        C. Recolha de informações pessoais
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        Os seguintes tipos de informações pessoais podem ser coletados, armazenados e usados:

        <ol>
          <li>informações sobre o teu computador, incluindo seu endereço IP, localização geográfica, tipo e versão do
            navegador e sistema operativo, apenas para efeitos de estatísticas de acesso;</li>
          <li>informações sobre as tuas visitas e uso deste site, incluindo fonte de referência, duração da visita,
            visualizações de página e caminhos de navegação no site apenas para efeitos de estatísticas;</li>
          <li>informações, como o endereço de e-mail, quando abres uma conta nesta plataforma; </li>
          <li>todas as informações que inseres quando crias uma conta;</li>
          <li>informações geradas ao usar este site, incluindo quando, com que frequência e em que circunstâncias o
            consultas;</li>
          <li>todas as informações que colocas após abrir a conta que se destinam para consulta do público em geral;
          </li>
          <li>informações contidas em quaisquer comunicações que nos envies por e-mail ou através de nosso site,
            incluindo o conteúdo e os metadados da comunicação;</li>
          <li>qualquer outra informação pessoal que nos envies;</li>

        </ol>
        Antes de divulgares informações pessoais de outra pessoa, deves obter o consentimento dessa pessoa para a
        divulgação e o processamento dessas informações pessoais de acordo com esta política.
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">D. Uso de suas informações pessoais e comerciais</h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        As informações pessoais que nos são enviadas por meio deste site serão usadas para os fins especificados nesta
        política,
        ou em páginas relevantes do site. Podemos usar suas informações pessoais para o seguinte:

        <ol>
          <li>Gerir os dados enviados, seja por submissão de um ficheiro, seja por submissão no próprio site;</li>
          <li>possibilitar o uso dos serviços disponíveis neste site;</li>
          <li>enviar notificações por e-mail;</li>
          <li>manter nosso site seguro e evitar fraudes;</li>
        </ol>

        Toda a informação comercial que inserires neste site ficará disponível publicamente, para consulta por todos. As
        informações pessoais que inseres, que são necessárias para gerir a informação comercial que nos envias, não
        serão nunca
        partilhadas com ninguém.
      </div>
    </div>
  </div>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">E. Divulgação de informações pessoais</h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        As tuas informações pessoais serão apenas acedidas pela equipa da VOST Portugal que gere a plataforma
        “Open4Business”
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">F. Transferências internacionais de dados</h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        <ol>
          <li>As informações que recolhemos podem ser armazenadas, processadas e transferidas para outros países</li>
          <li>As informações que coletamos podem ser transferidas para os seguintes países que não possuem leis de
            proteção de dados equivalentes às vigentes no Espaço Econômico Europeu: Estados Unidos da América</li>
          <li>As informações comerciais que publicas no nosso site estão disponíveis, através da internet, em todo o
            mundo. Não podemos impedir o uso ou uso indevido de tais informações por terceiros.</li>
          <li>Concordas expressamente com as transferências de informações descritas nesta seção F.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">G. Retenção de informações pessoais</h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        <ol>
          <li>Esta secção G define nossas políticas e procedimentos de retenção de dados, projetados para ajudar a
            garantir o cumprimento de nossas obrigações legais em relação à retenção e exclusão de informações pessoais.
          </li>
          <li>As informações pessoais que processamos para qualquer propósito ou propósitos não devem ser mantidas por
            mais tempo do que o necessário para esse propósito ou propósitos.</li>
          <li>Sem prejuízo do artigo G-2, todos os dados pessoais serão eliminados a partir do momento em que esta
            plataforma tiver cumprido o seu objectivo.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">H. Segurança das tuas informações pessoais</h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        <ol>
          <li>Tomaremos as devidas precauções técnicas e organizacionais para evitar a perda, mau uso ou alteração das
            tuas
            informações pessoais.</li>
          <li>Armazenaremos todas as suas informações pessoais fornecidas em servidores seguros.</li>
          <li>Reconheces que a transmissão de informações pela internet é inerentemente insegura e que não podemos
            garantir a
            segurança dos dados enviados pela internet.</li>
          <li>És responsável por manter em sigilo a senha usada para aceder ao nosso site; não solicitaremos a tua senha
            (exceto
            quando fizeres login no nosso site).</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">I. Alterações</h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        Podemos atualizar esta política periodicamente, através da publicação de uma nova versão em nosso site. Deves
        verificar
        esta página ocasionalmente para garantir que compreendes quaisquer alterações nesta política. Podemos
        notificar-te sobre
        alterações nesta política por e-mail.
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">J. Os Teus Direitos</h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        Podes-nos pedir para te fornecer qualquer informação pessoal que que tenhamos alojada nesta plataforma; o
        fornecimento
        dessas informações estará sujeito ao seguinte:
        <ol>
          <li>fornecimento de evidência apropriada da tua identidade</li>
          <li>Podemos reter as informações pessoais solicitadas na extensão permitida por lei.</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">K. Sites de terceiros</h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        Este site inclui links sites de terceiros. Não temos controle sobre, e não somos responsáveis pelas políticas e
        práticas
        de privacidade de terceiros.
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">L. Atualização de informações</h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        Na tua área pessoal podes modificar os teus dados.
      </div>
    </div>
  </div>
</div>

<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">M. Cookies</h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="form-group row">
      <div class="col-lg-12 text body-text">
        O nosso site usa cookies. Um cookie é um arquivo que contém um identificador (uma sequência de letras e números)
        que é
        enviado por um servidor da web para um navegador e armazenado pelo navegador. O identificador é então enviado de
        volta
        ao servidor toda vez que o navegador solicita uma página do servidor. Os cookies podem ser cookies
        “persistentes” ou
        cookies “de sessão”: um cookie persistente será armazenado por um navegador e permanecerá válido até a data de
        vencimento definida, a menos que seja excluído pelo usuário antes da data de vencimento; um cookie de sessão,
        por outro
        lado, expirará no final da sessão do usuário, quando o navegador for fechado. Os cookies normalmente não contêm
        nenhuma
        informação que identifique pessoalmente um usuário, mas as informações pessoais que armazenamos sobre você podem
        estar
        vinculadas às informações armazenadas e obtidas a partir de cookies. Utilizamos cookies persistentes e de sessão
        neste
        site.

        <ol>
          <li>Os nomes dos cookies que usamos em nosso site e os propósitos para os quais são usados estão descritos
            abaixo:
            <ol>
              <li>usamos a Google Analytics e Cloudflare no nosso site para reconhecer um computador quando um usuário
                acede ao site / rastrear usuários enquanto eles navegam no site / melhorar a usabilidade do site /
                analisar o uso do site / administrar o site / evitar fraudes e melhorar a segurança do site;
              </li>
            </ol>
          </li>

          <li>A maioria dos navegadores permite que te recuses a aceitar cookies – por exemplo:
            <ol>
              <li>no Internet Explorer (versão 11), podes bloquear cookies usando as configurações disponíveis de
                cancelamento de manipulação de cookies clicando em “Ferramentas”, “Opções da Internet” “Privacidade” e
                “Avançado”;</li>
              <li>no Firefox (versão 75), podes bloquear todos os cookies clicando em “Ferramentas”, “Opções”,
                “Privacidade”, selecionando “Usar configurações personalizadas para o histórico” no menu suspenso e
                desmarcando “Aceitar cookies de sites” ; e</li>
              <li>no Chrome (versão 81), podes bloquear todos os cookies indo ao menu “Personalizar e controlar” e
                clicando em “Configurações”, “Avançado” e “Configurações do site” e, em seguida, selecionando “Bloquear
                cookies de terceiros” na seção “Cookies e dados do site”.</li>
            </ol>
          </li>


          <span>O bloqueio de todos os cookies causará um impacto negativo na usabilidade de muitos sites. Se bloqueares
            os cookies, não poderás usar todos os recursos deste site. </span>

          <li>
            Podes excluir os cookies que já estão armazenados no seu computador – por exemplo:
            <ol>
              <li>no Internet Explorer (versão 11), deves excluir os arquivos de cookies manualmente (confere as
                instruções para fazê-lo em http://support.microsoft.com/kb/278835 );
              </li>
              <li>no Firefox (versão 75), podes excluir os cookies clicando em “Ferramentas”, “Opções”, “Privacidade”,
                selecionando “Usar configurações personalizadas para o histórico”, clicando em “Mostrar cookies” e,
                então, em “Remover todos os cookies”; e
              </li>
              <li>no Chrome (versão 81), podes excluir todos os cookies indo o menu “Personalizar e controlar” e
                clicando em “Configurações”, “Avançado”, “Limpar dados de navegação” e, em seguida, selecionando
                “Excluir cookies e outros dados de sites e plugins” antes de clicar em “Limpar dados de navegação”.</li>
            </ol>
          </li>

          <li>A exclusão de cookies causará um impacto negativo na usabilidade de muitos sites.</li>
        </ol>
      </div>
    </div>
  </div>
</div>