<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">{{ 'app.brand' | translate }}</a></li>
    <li>/</li>
    <li class="current">
      <span>{{ 'app.menus.cookies' | translate }}</span>
    </li>
  </ul>
</div>

<div class="container main-title">
  <h4>{{ 'app.menus.cookies' | translate }}</h4>
</div>

<div class="container">

  <div *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13]" class="kt-portlet">
    <div class="kt-portlet__head">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title title">{{ 'sections.home.privacy_cookies_policy.section_' + ( number | number:'2.0' ) + '_title' | translate }}</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="form-group row">
        <div class="col-lg-12" innerHtml="{{ 'sections.home.privacy_cookies_policy.section_' + ( number | number:'2.0' ) + '_content' | translate }}">
        </div>
      </div>
    </div>
  </div>

</div>
