<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div *ngIf="contentReady" class="container">

  <ul class="breadcrumbs">
    <li><a routerLink="/">{{ 'app.brand' | translate }}</a></li>
    <li>/</li>
    <li class="current">
      <span>{{ 'labels.users_list' | translate }} ({{ 'labels.access_accounts' | translate }})</span>
    </li>
  </ul>

  <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onSearch()">
    <div class="form-group row">
      <div class="col-lg-6 input-ct">
        <app-catalog-form-input [formControlField]="f.search" formControlName="search"
          placeholder="{{ 'labels.search_by_name' | translate }}" [appendButton]="true" [appendButtonIcon]="'fa fa-search'">
        </app-catalog-form-input>
      </div>
      <div class="col-lg-6 input-ct">
        <app-catalog-form-select [formControlField]="f.active" formControlName="active" [required]="false" placeholder="{{ 'labels.filter_by_state' | translate }}" clearable="true"
        bindLabel="desc" bindValue="id" [items]="statusList"></app-catalog-form-select>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-auto mr-auto">
      <p class="counter"><strong>{{total}}</strong> {{ 'dictionary.users' | translate }}</p>
    </div>

    <div class="col-auto" *ngIf="total > 0">
      <nav aria-label="Pagination" class="">
        <ul class="pagination">
          <li class="page-item" (click)="goto(page-1)">
            <a class="page-link disabled" href="javascript:void(0)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="javascript:void(0)">{{page}}&nbsp;/&nbsp;{{pages}}</a>
          </li>
          <li class="page-item" (click)="goto(page+1)">
            <a class="page-link" href="javascript:void(0)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="kt-portlet" *ngFor="let user of datasets.users">
    <div _ngcontent-cqf-c174="" class="kt-portlet__head" *ngIf="!user.isAdmin">
      <div _ngcontent-cqf-c174="" class="kt-portlet__head-label">
        <h3 _ngcontent-cqf-c174="" class="kt-portlet__head-title title">
          {{ user.business ? user.business.company : '' }}<br />
          <span class="second-line">{{ user.business ? user.business.businessId : '' }}</span></h3>
      </div>
      <div _ngcontent-cqf-c174="" class="kt-portlet__head-label">
        <h3 _ngcontent-cqf-c174="" class="kt-portlet__head-title title-date">
          <span class="font-weight-bold" >{{ user.business ? user.business.companyType.toUpperCase() : '' }}</span>
        </h3>
      </div>
    </div>
    <div class="kt-portlet__body" *ngIf="!user.isAdmin">
      <div class="row custom-card">
        <div class="col-lg-3">
          <h4>{{user.name}}</h4>
          <p>{{user.authId}}</p>
        </div>
        <div class="col-lg-3">
          <h5>{{ 'dictionary.phone' | translate | titlecase }}</h5>
          <p>{{user.phone || ( user.business ? user.business.phone : '') }}</p>
        </div>
        <div class="col-lg-3">
          <h5>{{ 'dictionary.state' | translate | titlecase }}</h5>
          <p [ngClass]="{'text-danger': user.status == 'Apagado' || user.status == 'Inativo', 'text-warning': user.status == 'Pendente', 'text-primary': user.status == 'Ativo'}">{{ user.status }}</p>
        </div>
        <div class="col-lg-3">
          <h5>{{ 'dictionary.logins' | translate | titlecase }}</h5>
          <p>{{user.numberOfLogins}}</p>
        </div>
      </div>
      <div class="row justify-content-between confirm-account">
        <div class="col">
          <a *ngIf="user.status != 'Apagado'" [routerLink]="['/users/my-info']" [queryParams]="{ email: user.authId}" class="text-dark"><i class="fa fa-edit"></i>&nbsp;{{ 'actions.edit_account' | translate }}</a>
          <a *ngIf="user.status == 'Ativo'" href="javascript:void(0)" (click)="deactivateUser(user)" class="text-warning action"><i class="fa fa-ban"></i>&nbsp;{{ 'actions.deactivate_account' | translate }}</a>
          <a *ngIf="user.status != 'Apagado'" href="javascript:void(0)" (click)="deleteUser(user)" class="text-danger action"><i class="fa fa-trash"></i>&nbsp;{{ 'actions.delete_account' | translate }}</a>
          <a *ngIf="user.status == 'Pendente'" href="javascript:void(0)" (click)="confirmUser(user)" class="action"><i class="fa fa-check"></i>&nbsp;{{ 'actions.confirm_account' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

