<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li *ngIf="isAdmin"><a routerLink="/users/list">Lista de Utilizadores</a></li>
    <li *ngIf="isAdmin">/</li>
    <li class="current">
      <span>{{title}}</span>
    </li>
  </ul>
</div>

<div class="kt-portlet container">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">
        Visualize ou altere a sua informação
      </h3>
    </div>
  </div>

  <form [formGroup]="formUserInfo" class="kt-form kt-form--label-right" (ngSubmit)="onUserInfoSubmit()">
    <div class="kt-portlet__body">
      <fieldset [disabled]="!formUserInfoOnEditMode">
        <div class="form-group row">
          <div class="col-lg-6">
            <app-catalog-form-input [formControlField]="fUserInfo.company" formControlName="company"
              label="Nome da empresa" [placeholder]="" [required]="true"></app-catalog-form-input>
          </div>
          <div class="col-lg-6">
            <app-catalog-form-input [formControlField]="fUserInfo.email" formControlName="email" label="E-mail"
              [placeholder]="" [required]="true"></app-catalog-form-input>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <app-catalog-form-input [formControlField]="fUserInfo.name" formControlName="name" label="Nome"
              [placeholder]="" [required]="true"></app-catalog-form-input>
          </div>
          <div class="col-lg-6">
            <app-catalog-form-input [formControlField]="fUserInfo.phone" formControlName="phone" label="Telefone"
              [placeholder]="" [required]="true"></app-catalog-form-input>
          </div>
        </div>

        <div class="form-group row" >
          <div class="col-lg-6">
            <img src="{{marker}}" [hidden]="formUserInfoOnEditMode">
          </div>
        </div>

        <div class="form-group row" [hidden]="!formUserInfoOnEditMode">
          <div class="col-lg-12">
            <label>Marcador</label>
            <dropzone #dataUpload [config]="dataUploadConfiguration" (success)="onUploadSuccess('dataFile', $event)"
              (error)="onUploadError($event)" (removedFile)="onFileRemoved($event)"></dropzone>
            <div class="preview-container uploaded-files">
              <div id="dataUploadPreview"></div>
            </div>
          </div>
        </div>

        <div class="form-group row" [hidden]="!formUserInfoOnEditMode">
          <div class="col-lg-6" [hidden]="!isAdmin">
            <app-catalog-form-checkbox [formControlField]="fUserInfo.isActive" formControlName="isActive" label="Ativo">
            </app-catalog-form-checkbox>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-12 kt-align-right">
            <button *ngIf="!formUserInfoOnEditMode" class="btn btn-primary ml-2" (click)="showEditableForm('formUserInfo')"><i class="fa fa-pen"></i> &nbsp; Editar</button>
            <button *ngIf="formUserInfoOnEditMode" class="btn btn-outline-secondary ml-2" (click)="hideEditableForm('formUserInfo')"><i class="fa fa-times"></i> &nbsp; Cancelar</button>
            <button *ngIf="formUserInfoOnEditMode" type="submit" class="btn btn-primary ml-2">
              <i class="fa fa-check"></i> &nbsp;
              {{ 'dictionary.submit' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>
  <br />
  <br />


  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title title">
        Altere a sua password de acesso
      </h3>
    </div>
  </div>
  <form [formGroup]="formUserPassword" class="kt-form kt-form--label-right" (ngSubmit)="onUserPasswordSubmit()">
    <div class="kt-portlet__body">
      <fieldset [disabled]="!formPasswordOnEditMode">
        <div class="form-group row">
          <div class="col-lg-4" *ngIf="!authId">
            <app-catalog-form-input [formControlField]="fUserPassword.currentPassword" formControlName="currentPassword" type="password"
              label="Password atual" [required]="!authId"></app-catalog-form-input>
          </div>
          <div class="col-lg-4">
            <app-catalog-form-input [formControlField]="fUserPassword.password" formControlName="password" type="password"
              label="Nova Password" [required]="true"></app-catalog-form-input>
          </div>
          <div class="col-lg-4">
            <app-catalog-form-input [formControlField]="fUserPassword.confirmPassword" formControlName="confirmPassword" type="password"
              label="Confirme a nova password" [required]="true"></app-catalog-form-input>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <div class="row">
          <div class="col-lg-12 kt-align-right">
            <button *ngIf="!formPasswordOnEditMode" class="btn btn-primary ml-2" (click)="showEditableForm('formPassword')"><i class="fa fa-pen"></i> &nbsp; Editar</button>
            <button *ngIf="formPasswordOnEditMode" class="btn btn-outline-secondary ml-2" (click)="hideEditableForm('formPassword')"><i class="fa fa-times"></i> &nbsp; Cancelar</button>
            <button *ngIf="formPasswordOnEditMode" type="submit" class="btn btn-primary ml-2">
              <i class="fa fa-check"></i> &nbsp; {{ 'dictionary.submit' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>
