<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div *ngIf="contentReady" class="container">

  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li class="current">
      <span>Lista de utilizadores (Contas de acesso)</span>
    </li>
  </ul>


  <form [formGroup]="form" class="kt-form kt-form--label-right">
    <div class="form-group row">
      <div class="col-lg-12">
        <label>Pesquisa </label>
        <div class="input-group-prepend">
          <input class="form-control text-dark" id="2cd3e63b-8f29-42bf-8c10-d5e955036ce9-in" type="text" placeholder=""
            title="" (keyup)="onFormSubmit($event)">
        </div>
      </div>
    </div>
  </form>

  <div class="kt-portlet" *ngFor="let user of datasets.users">
    <div class="kt-portlet__body" *ngIf="!user.isAdmin">
      <div class="row custom-card">
        <div class="col-lg-3">
          <h4>{{user.name}}</h4>
          <p>{{user.authId}}</p>
        </div>
        <div class="col-lg-3">
          <h5>Telefone</h5>
          <p>{{user.phone}}</p>
        </div>
        <div class="col-lg-3">
          <h5>Estado</h5>
          <p [ngClass]="{'text-danger': !user.isActive, 'text-primary': user.isActive}">{{ user.isActive?'Ativo':'Inativo' }}</p>
        </div>
        <div class="col-lg-3">
          <h5>Logins</h5>
          <p>{{user.numberOfLogins}}</p>
        </div>
      </div>
      <div class="row justify-content-between confirm-account" *ngIf="!user.isActive">
        <div class="col">
          <a target="_blank" [routerLink]="['/businesses/confirm']" [queryParams]="{ token: user.activationToken, confirmationCode: user.confirmationCode}">Confirmar Conta</a>
        </div>
      </div>
    </div>
  </div>
</div>

