<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div *ngIf="contentReady" class="container">

  <ul class="breadcrumbs">
    <li><a routerLink="/">OPEN4BUSINESS</a></li>
    <li>/</li>
    <li class="current">
      <span>Lista de utilizadores (Contas de acesso)</span>
    </li>
  </ul>


  <form [formGroup]="form" class="kt-form kt-form--label-right" (ngSubmit)="onSearch()">
    <div class="form-group row">
      <div class="col-lg-6 input-ct">
        <app-catalog-form-input [formControlField]="f.search" formControlName="search"
          [placeholder]="searchPlaceholder" [appendButton]="true" [appendButtonIcon]="'fa fa-search'">
        </app-catalog-form-input>
      </div>
      <div class="col-lg-6 input-ct">
        <app-catalog-form-select [formControlField]="f.active" formControlName="active" [required]="false" placeholder="Filtar por Estado" clearable="true"
        bindLabel="desc" bindValue="id" [items]="statusList"></app-catalog-form-select>
      </div>
    </div>
  </form>

  <div class="kt-portlet" *ngFor="let user of datasets.users">
    <div _ngcontent-cqf-c174="" class="kt-portlet__head" *ngIf="!user.isAdmin">
      <div _ngcontent-cqf-c174="" class="kt-portlet__head-label">
        <h3 _ngcontent-cqf-c174="" class="kt-portlet__head-title title">
          {{ user.business ? user.business.company : '' }}<br />
          <span class="second-line">{{ user.business ? user.business.businessId : '' }}</span></h3>
      </div>
      <div _ngcontent-cqf-c174="" class="kt-portlet__head-label">
        <h3 _ngcontent-cqf-c174="" class="kt-portlet__head-title title-date">
          <span class="font-weight-bold" >{{ user.business ? user.business.companyType.toUpperCase() : '' }}</span>
        </h3>
      </div>
    </div>
    <div class="kt-portlet__body" *ngIf="!user.isAdmin">
      <div class="row custom-card">
        <div class="col-lg-3">
          <h4>{{user.name}}</h4>
          <p>{{user.authId}}</p>
        </div>
        <div class="col-lg-3">
          <h5>Telefone</h5>
          <p>{{user.phone || ( user.business ? user.business.phone : '') }}</p>
        </div>
        <div class="col-lg-3">
          <h5>Estado</h5>
          <p [ngClass]="{'text-danger': !user.isActive, 'text-primary': user.isActive}">{{ user.isActive?'Ativo':'Inativo' }}</p>
        </div>
        <div class="col-lg-3">
          <h5>Logins</h5>
          <p>{{user.numberOfLogins}}</p>
        </div>
      </div>
      <div class="row justify-content-between confirm-account">
        <div class="col">
          <a [routerLink]="['/users/my-info']" [queryParams]="{ email: user.authId}"><i class="fa fa-edit"></i>&nbsp;Editar Conta</a>
        </div>
        <div class="col" *ngIf="!user.isActive">
          <a [routerLink]="['/businesses/confirm']" [queryParams]="{ token: user.activationToken, confirmationCode: user.confirmationCode}"><i class="fa fa-check"></i>&nbsp;Confirmar Conta</a>
        </div>
      </div>
    </div>
  </div>
</div>

