<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div>
  <ul class="breadcrumbs">
    <li>
      <a routerLink="/">OPEN4BUSINESS</a>
    </li>

    <li>/</li>

    <li class="current">
      <span>Sobre</span>
    </li>
  </ul>
</div>

<div class="main-title">
  <h2>Sobre o <span class="logo-primary">#OPEN</span>4BUSINESSPT</h2>
</div>

<p>O "#OPEN4BUSINESS" é uma iniciativa da <a href="https://info.vost.pt/" class="logo-primary">VOST Portugal</a> e da <a href="https://www.portugal.gov.pt/pt/gc22/area-de-governo/economia-transicao-digital/secretarios-de-estado" class="logo-primary">Secretaria de Estado da Transição Digital</a>, no âmbito do Gabinete de Resposta Digital à <abbr
  title="Coronavirus disease 2019">COVID-19</abbr> do Governo Português, e liderado pelo Ministério da Economia.</p>
  
<p>Numa altura em que a economia vai começar a reabrir, julgamos ser necessário existir uma plataforma que consiga agregar o maior número de estabelecimentos que estão abertos ao público, os seus horários (incluindo horários específicos para profissionais de saúde, forças de segurança, e grupos de risco), e que tipo de serviços oferecem e as suas condições.</p>

<p>Nesta plataforma será possível a qualquer cidadão, num só lugar, saber que estabelecimentos estão abertos para evitar deslocações em vão.</p>

<p>Esta é uma plataforma aberta a todos os tipos de empresas, entidades, ou cidadãos que a queriam alimentar e promover, para que todos nós estejamos mais informados e mais seguros.</p>
<br />
<br />
<br />
