<app-catalog-loader name="pageLoader"></app-catalog-loader>

<div class="container">
  <ul class="breadcrumbs">
    <li><a routerLink="/">{{ 'app.brand' | translate }}</a></li>
    <li>/</li>
    <li class="current">
      <span>{{ 'dictionary.about' | translate | titlecase }}</span>
    </li>
  </ul>
</div>

<div class="container">
  <div class="main-title">
    <h2>{{ 'dictionary.about' | translate | titlecase }} <span class="logo-primary">#OPEN</span>4BUSINESS</h2>
  </div>

  <p class="text-justify" innerHtml="{{ 'sections.home.about.paragraph_01' | translate }}"></p>

  <p class="text-justify" innerHtml="{{ 'sections.home.about.paragraph_02' | translate }}"></p>

  <p class="text-justify" innerHtml="{{ 'sections.home.about.paragraph_03' | translate }}"></p>

  <p class="text-justify" innerHtml="{{ 'sections.home.about.paragraph_04' | translate }}"></p>

  <br />
  <br />
  <br />

</div>