:host {
  ::ng-deep {
    ngb-tabset>.nav-tabs {
      display: none;
    }
  }
}


.kt-quick-panel {
  background-color: var(--base-color-02);
}


.navbar-nav {
  font-size: initial;
  line-height: 35px;
  text-align: right;
  padding: 20px 80px;
}


.nav-link {
  color: #ffffff;
  padding-bottom: 25px;
  line-height: 22px
}

.user-info {
  background-color: rgba(70, 153, 71, 0.3);
  color: yellow;
  text-align: right;
  font-size: larger;
  padding: 23px 80px;
  margin-top: 70px;
}