<div id="map-container"></div>

<img id="map-footer-brand" src="/assets/images/o4b_logo_4_map.svg">

<app-catalog-loader name="app-map"></app-catalog-loader>

<div class="section--primary" [ngClass]="{'section-full': showCookieWarning || showInformationBanner}">
  <div class="cookies-warn" *ngIf="showCookieWarning">
    <i class="fa fa-times warn-close close-icon" (click)="dismissCookieWarn()"></i>
    <p>Utilizamos cookies para melhorar a experiência de navegação. Saber mais sobre a nossa política de cookies
      <a routerLink="/cookies" class="warn-link">aqui</a>.
      &nbsp;&nbsp;
    </p>
  </div>

  <i *ngIf="showInformationBanner" class="fa fa-times close-icon" (click)="dismissInformationBanner()"></i>
  <div *ngIf="showInformationBanner" class="call-to-action">
    <p class="lead">Informa aqui que a tua empresa e/ou negócio continua aberta e como é que podemos usufruir dos
      produtos e serviços neste período excecional.</p>
    <div class="button__wrapper">
      <a routerLink="/auth/signup" class="button button--secondary">Registar a minha Empresa</a>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onFormSubmit()" id="map-search">
    <div class="input-ct">
      <app-catalog-form-input [formControlField]="f.search" formControlName="search" [placeholder]="searchPlaceholder" [appendButton]="search" [appendButtonIcon]="'fa fa-search'"></app-catalog-form-input>
      
      <div class="map-info">
        <p><strong>{{count}}</strong> {{searchInfo}}</p>
      </div>
    </div>
  </form>
</div>

