<div id="map-container"></div>

<img id="map-footer-brand" src="/assets/images/o4b_logo_4_map.svg">

<app-catalog-loader name="app-map"></app-catalog-loader>

<div class="section--primary" [ngClass]="{'section-full': showCookieWarning || showInformationBanner}">
  <div class="cookies-warn" *ngIf="showCookieWarning">
    <i class="fa fa-times warn-close close-icon" (click)="dismissCookieWarn()"></i>
    <p>{{ 'messages.informations.splash_notice_cookies' | translate }}
      <a routerLink="/cookies" class="warn-link">{{ 'dictionary.here' | translate }}</a>.
      &nbsp;&nbsp;
    </p>
  </div>

  <i *ngIf="showInformationBanner" class="fa fa-times close-icon" (click)="dismissInformationBanner()"></i>
  <div *ngIf="showInformationBanner" class="call-to-action">
    <p class="lead">{{ 'messages.informations.splash_notice_teaser' | translate }}</p>
    <div class="button__wrapper">
      <a routerLink="/auth/signup" class="button button--secondary">{{ 'actions.register_my_company' | translate }}</a>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onFormSubmit()" id="map-search">
    <div class="input-ct">
      <app-catalog-form-input [formControlField]="f.search" formControlName="search" placeholder="{{ 'labels.search_locations' | translate }}" [appendButton]="search" [appendButtonIcon]="'fa fa-search'"></app-catalog-form-input>
      <div class="map-info">
        <p><strong>{{count}}</strong> {{searchInfo}}</p>
      </div>
    </div>
  </form>
</div>