<!-- begin: Header -->
<div ktHeader #ktHeader class="kt-header kt-grid__item" [ngClass]="htmlClassService.getClasses('header', true)"
  id="kt_header">
  <ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async"
    height="3px"></ngb-progressbar>

  <!-- begin:: Brand -->
  <app-main-layout-header-brand></app-main-layout-header-brand>
  <!-- end:: Brand -->

  <!-- begin:: Title -->
  <h3 class="kt-header__title kt-grid__item">
    <div class="logo-text-container d-none d-md-block" routerLink="/">
      <span class="logo-primary">#Open</span><span class="logo-secondary">4Business</span>
    </div>
  </h3>
  <!-- end:: Title -->

  <!-- begin: Header Menu -->
  <app-main-layout-menu-horizontal *ngIf="menuHeaderDisplay"></app-main-layout-menu-horizontal>
  <!-- end: Header Menu -->

  <!-- begin:: Header Topbar -->
  <!-- empty div to fix topbar to stay on the right when menu-horizontal is hidden -->
  <div *ngIf="!menuHeaderDisplay"></div>
  <app-main-layout-header-topbar></app-main-layout-header-topbar>
  <!-- end:: Header Topbar -->

  <app-main-layout-aside-right toggleBy="kt_quick_panel_toggler_btn"></app-main-layout-aside-right>
  <app-main-layout-aside-right toggleBy="kt_quick_panel_toggler_btn-mobile"></app-main-layout-aside-right>

</div>
<!-- end: Header -->
